@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ternary-btn {
    @apply flex items-center justify-center border border-black text-base  cursor-pointer rounded-none text-black hover:!text-black hover:!border-black hover:shadow-none;
  }
  .primary-heading {
    @apply text-base text-theme-color font-semibold;
  }

  @font-face {
    font-family: 'cairo';
    src: url(../assets/fonts/Cairo-VariableFont.ttf) format('truetype');
  }
}
.custom-transition {
  transition: margin-left 0.5s ease;
}
.page-content {
  min-height: calc(100vh - 80px);
}
